.about-message {
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    border: 0.5px solid blue;
    max-width: 40%;
    margin: 3rem auto;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
  .about-message {
    width: 80% !important;
    max-width: 80% !important;
    height: auto;
    object-fit: cover;
    object-position: left center;
  }

  .quote-container {
    width: 80% !important;
    max-width: 80% !important;
    height: auto;
  }
}

.quote-container {
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(227, 236, 253);
    max-width: 100%;
    padding: 1.4rem 1rem;
}

.quote-mark {
    display: flex;
    margin: 0.4rem 0.2rem;
}

img {
    max-width: 2.5rem;
}